<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='typing.css') }}">


<head>
    <meta charset="UTF-8">
    <title>Banco Error 404</title>
</head>
<body>
    <nav>
        <div class="logo">Banco Error 404</div>
        <div class="nav-items">
            
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Contact Us</a>
        </div>
    </nav>

<section class="hero">

<div class="hero-container">

    <div class="column-left">
        <h1> Trabaja Con Tu Dinero</h1>
        <p>¡Bienvenido al Banco Error 404, la forma más inteligente de administrar su dinero a partir de hoy!</p>
        <button>Empieza Hoy!</button>
    </div>


</div>

</section>

    <div class="chatbox">

        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Banco Error 404</h4>
                    <p class="chatbox__description--header">¡Hello! I'm Bananin, Your Viritual Assitant</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="./images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
